@font-face {
  font-family: 'Nokia';
  src: url('./Fonts/NokiaPureHeadline_Bd.ttf');
       
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic:wght@500;600;700;800&family=Poppins:wght@300;400;600&display=swap');  


:root {
  --white: #FEFEFE;
  --black-transparent : #1d1d1fec;
  --black : #1D1D1F;
  --black-light : #9b9b9b;
  --shadow: #0000001e;
  --yellow: #F8DE22;
  --yellow-light:#faf0a3; 
  --transition: all 600ms ease;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Noto Sans Ethiopic', sans-serif;
  background-color: var(--white);
}
li {
  list-style: none;
}
section{
  overflow-x: hidden;
}
.container {
  width: 88%;
  margin-inline: auto;
  z-index: 100;
}

.h1 {
  font-family: Nokia;
  color: var(--yellow);
  font-size: 2.5rem;
  padding-block: 4rem 1.5rem;
  text-align: center;
}
.p {
  font-weight: 600;
  font-size: 1.2rem;
  width: 80%;
  margin-inline: auto;
  padding-block: 0 4rem;
}

.box-title{
  padding-block: .5rem;
}
.box-text {
  width: 85%;
  margin-inline: auto;
}

.container {
  width: 85%;
}

a {
  text-decoration: none;
}

.btn {
  padding: .4rem .8rem;
  border: 2px solid var(--yellow);
  background-color: transparent;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--yellow);
  color: var(--white);
}

.btn-premiere{
  padding: .5rem 3rem;
  border: 2px solid var(--yellow);
  background-color: var(--yellow);
  transition: var(--transition);
  border-radius: .3rem;
  color: black;
  font-size: 1.25rem;
  font-weight: 600;
  margin-block: 2rem 1rem;
}
.btn-premiere:hover {
  background-color: transparent;
}

.social-btn {
    padding: .5rem .7rem .2rem .7rem;
    background-color: var(--yellow);
    color: black;
    font-size: 1.5rem;
    border: 1px solid var(--yellow);
    transition: var(--transition);
} 
.social-btn:hover{
    
    background-color: transparent;
    color: var(--yellow);
}

.login-btn {
    padding: .7rem 1rem .7rem 1rem;
    border-radius: 50%;
    font-size: 1.25rem;
    color: black;
    background-color: var(--yellow);
    border: 2px solid var(--yellow);
}

.login-btn:hover {
  background-color: transparent;
  color: var(--yellow);
}


@media screen and (max-width: 480px) {
  .p {
    font-size: .9rem;
    width: 90%;
  }
}